[Desktop Entry]
Name=Gyre
Comment=Download videos from Coub
Exec=gyre
Icon=io.github.helpseeker.Gyre
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;GTK;GNOME;
Keywords=coub;download;

